ultravnc_src_907/UltraVNC Project Root/UltraVNC/Suporte SIHL/Service References/Servico/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicos.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicos.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClienteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteDto" nillable="true" type="tns:ClienteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteDto" nillable="true" type="tns:ArrayOfClienteDto" />
  <xs:complexType name="ClienteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="clie_codigo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="clie_idvnc" type="xs:int" />
      <xs:element minOccurs="0" name="clie_nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clie_obs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clie_status" type="xs:boolean" />
      <xs:element minOccurs="0" name="empr_codigo" type="xs:int" />
      <xs:element minOccurs="0" name="grcl_codigo" nillable="true" type="tns:GrupclienteDto" />
      <xs:element minOccurs="0" name="usua_nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteDto" nillable="true" type="tns:ClienteDto" />
  <xs:complexType name="GrupclienteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="empr_codigo" type="xs:int" />
      <xs:element minOccurs="0" name="grcl_ativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="grcl_codigo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="grcl_nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GrupclienteDto" nillable="true" type="tns:GrupclienteDto" />
  <xs:complexType name="UsuarioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="empr_codigo" type="xs:int" />
      <xs:element minOccurs="0" name="usua_codigo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="usua_logar" type="xs:boolean" />
      <xs:element minOccurs="0" name="usua_login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usua_nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usua_senha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usua_status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDto" nillable="true" type="tns:UsuarioDto" />
  <xs:complexType name="ArrayOfGrupclienteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GrupclienteDto" nillable="true" type="tns:GrupclienteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrupclienteDto" nillable="true" type="tns:ArrayOfGrupclienteDto" />
</xs:schema>